/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
      padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* website style */
.container {
  width: 70%;
  margin: 2rem auto;
}

.img {
  height: 100px;
  margin: 1rem;
}



.hero {
  background-color: #2b313700;
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  color: rgb(126, 126, 126);
  font-size: 60px;
  margin: 0;
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
}

@keyframes jack-in-the-box {
  from {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
  }

  50% {
      transform: rotate(-10deg);
  }

  70% {
      transform: rotate(3deg);
  }

  to {
      opacity: 1;
      transform: scale(1);
  }
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jack-in-the-box;
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
  height: auto;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
}

.indexCtas a,
.indexCtas a:hover {
  color: rgb(255, 255, 255);
}

.indexCtas a:last-of-type {
  margin: 20px 36px;
}

.indexCtas a:last-of-type {
  margin: 20px 36px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  overflow: hidden;
}

.indexCtaTryNowButton:hover {
  color: var(--ifm-color-primary);
}

@media only screen and (max-width: 768px) {
  .hero {
      padding-left: 20px;
      padding-right: 20px;
  }

  .heroInner {
      padding: 0;
  }

  .heroProjectTagline {
      font-size: 36px;
      text-align: center;
  }

  .heroLogo {
      display: block;
      float: none;
      margin: 0 auto;
  }

  .indexCtas {
      justify-content: center;
  }

  .indexCtas a {
      margin: 20px 36px;
  }

  .indexCtasGitHubButton {
      display: none;
  }
}

.tweetsSection > :global(.col) > * {
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .tweetsSection > :global(.col:last-child) > *:last-child {
      margin-bottom: 0;
  }
}

@media (min-width: 997px) {
  .tweetsSection > :global(.col) > *:last-child {
      margin-bottom: 0;
  }
}

/* Used to test CSS insertion order */
.test-marker-site-index-page {
  content: 'site-index-page';
}
/* .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
} */
