
    .title {
      font-weight: 700;
      font-size: 2rem;
      margin: 0 auto; /* 置中 */
      
    }

    .container {
      display: flex;
      width: '50%';
      justify-content: space-between;
      margin: 0 auto; /* 置中 */

     } 
    .content {
      flex-direction: column;
      display: flex;
      width: '800%';
    } 
    .fullWidth {
      width: '800%';
    } 
    .imgContainer {
      height: 60px;
      width: 60px;
      float: left;
      position: relative;
    }
     .img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: '50%';
      left: '50%';
      transform:'translate(-50%, -50%)';
      box-sizing: border-box;
      background-clip: content-box;
      border: '4px solid transparent';
      border-radius: 6px;
    }

    .companyContainer {
      flex: 1 0;
      width: auto;
      margin-left: 80px;
      overflow: hidden;
      margin-bottom: 8;
    }
    .jobTitle {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 0;
    }
    .company {
      display: inline;
      font-size: 16px;
    }
    .flex {
      display: flex;
    }
    .date {
      font-size: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .city {
      margin-left: 80px;
      font-size: 10px;
    }



    .container_p {
      flex-direction: row;
      margin: 20px;
      margin-left: 0px;
      display: flex;

    }
    .imgContainer_p {
      /* flex: 11; */
      margin-right: 10px;
    }
    .content_p {
      flex: 1;
    }
    .titleContainer_p {
      display: flex;
      flex-direction: row;
    }
    .title_p {
      font-weight: bold;
      flex: 20;
      font-weight: 800px;
      font-size: 20px;
    }
    .img_p {
      width: 250px;
      border-radius: 6;
      border: '1px solid #e8e8e8';
      flex: 1 1;
    }
    .img_id2 {
      width: 30px;
      border-radius: 6;
      border: '1px solid #e8e8e8';
      flex: 1 1;
    }
    .information {
      font-size: 14px;
    }
    .description {
      font-size: 15px;
    }
    .linkContainer {
      display: flex;
    }


    .content_c {
      flex: 1;
    }





