.banner {
     /* background-color: var(--ifm-background-color); */
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  
   /* @media screen and (max-width: 966px) {
     padding: 2rem;
    } */
  }
  
  .logo {
    max-width: 300px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .subtitle {
    margin: 0 auto 2rem;
    max-width: 300px;
  }
  
  .githubStars {
    display: flex;
    margin-top: 20px;
  }
  
  .githubStarsButton {
    border: none;
    margin-left: 24px;
    overflow: hidden;
  }