/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #848d9f;
  --ifm-color-primary-dark: #b52929;
  --ifm-color-primary-darker: #9f0606;
  --ifm-color-primary-darkest: #c80d0d;
  --ifm-color-primary-light: #b60101;
  --ifm-color-primary-lighter: #b51111;
  --ifm-color-primary-lightest: #bc2121;
  --ifm-code-font-size: 95%;


  
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.markdown details { 
  background-color: #C2CFD8;
  border-color: #5C676E;
  color: #565f75;
}


